<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PokemonBattleOnline.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PokemonBattleOnline.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <system.diagnostics>
        <sources>
            <!-- 本部分定义 My.Application.Log 的登录配置-->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- 取消以下部分的注释，以写入应用程序事件日志-->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- 取消以下部分的注释，并用应用程序名替换 APPLICATION_NAME，以写入应用程序事件日志-->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <PokemonBattleOnline.My.MySettings>
            <setting name="teamPath" serializeAs="String">
                <value />
            </setting>
            <setting name="UserName" serializeAs="String">
                <value />
            </setting>
            <setting name="IPSetting" serializeAs="String">
                <value />
            </setting>
            <setting name="ImageIndex" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="AutoLoginUser" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoSaveLog" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoSaveReplay" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LogTitle" serializeAs="String">
                <value>\Player1 VS \Player2</value>
            </setting>
            <setting name="RepTitle" serializeAs="String">
                <value>\Player1 VS \Player2</value>
            </setting>
            <setting name="LogPath" serializeAs="String">
                <value />
            </setting>
            <setting name="RepPath" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomName" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CustomDataPath" serializeAs="String">
                <value />
            </setting>
            <setting name="LogPosition" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="LogLineCount" serializeAs="String">
                <value>26</value>
            </setting>
        </PokemonBattleOnline.My.MySettings>
    </userSettings>
    <applicationSettings>
        <PokemonBattleOnline.My.MySettings>
            <setting name="ServerAddress" serializeAs="String">
                <value>klararwind.gicp.net</value>
            </setting>
        </PokemonBattleOnline.My.MySettings>
    </applicationSettings>
</configuration>
